/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  align-content:end;
}
.welcome{
    margin-bottom:200px;
    text-align:center;
}
.fRed{
    color:red;
}
.txt-ctr{
    text-align:center;
}
label {
    width: 150px;
}
row{
    padding: 15px;
}